<h1>Liste des pizzas</h1>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="flash-success">
        {{ flashMessage }}
    </div>
{% endfor %}

<div>
    {% for pizza in pizzas %}
        <div>
            {{ pizza.name }} {{ (pizza.price / 100) | localizedcurrency('EUR') }}

            <a href="{{ url('pizzapi_order', { 'id' : pizza.id }) }}">Commander</a>

            {% if pizza.status is defined %}
                {{ pizza.status }}
            {% endif %}
        </div>
    {% endfor %}
</div>
